@import './base/common';
@import './base/container';

@import './components/footer';
@import './components/header';

@import './utils/modern-normalise';
@import './utils/veriables';

@import './layout/slider';
@import './layout/proffession';
@import './layout/education';
@import './layout/hero-section';
@import './layout/languages';
@import './layout/possession';