@media screen and (min-width:  320px ){
   .languages {
padding: 30px 0px;
background-color: #00dafb;
		&__heading {
         font-size: 26px;
         line-height: 1;
         font-weight: 600;
         color: #000;
         text-align: center;
         padding: 30px 0px;
         text-decoration: underline;
         text-transform: uppercase;
		}
}
 
.programming {
 display: flex;
 flex-direction: column;
		&__list {
         margin-bottom: 10px;
		}
      
		&__heading {
         font-size: 16px;
         line-height: 1;
         font-weight: 600;
         color: #000;
         padding: 10px;
         border: 3px solid blue;
         background-color: white;
         border-radius: 7px;
         text-align: center;
		}
      &__heading:hover{
background-color: rgb(48, 10, 238);
border: 3px solid white;
      }
}

}

@media screen and (min-width:  1200px ){
   .languages {

		&__heading {
		}
}
.container {
}
.programming {

		&__list {
		}

		&__heading {
		}
}

}